----------------------------------RESET-------------------------------------------- html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 100%;
   font-weight: normal;
}

ul {
   list-style: none;
}

button,
input,
select {
   margin: 0;
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

img,
video {
   height: auto;
   max-width: 100%;
}

iframe {
   border: 0;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

td,
th {
   padding: 0;
}

/*Root element*/
:root {
   --left-font: 'Staatliches', cursive;
   --right-font: 'Roboto', sans-serif;
   --form-bg-color: #dcdcdc;
   --dark-box-shadow: 0px 1px 1px rgba(125, 125, 125, 0.49);
   --font-for-bold-text: 700 1.5rem sans-serif;
}

/* Left side*/

.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
}

.left-side {
   font-family: var(--left-font);
   background-image: url('img/backgroung.jpg');
   background-position: 50% 40%;
   background-size: 400%;
   background-repeat: no-repeat;
   width: 40vw;
}

.logo {
   position: relative;
   top: 20vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 0.5vw;
   background-color: rgba(0, 0, 0, 0.7);
   height: auto;
}

.logo-img {
   background-image: url('img/logo.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   width: 7rem;
   height: 7rem;
}

.logo-text {
   color: white;
   font-size: 3.5rem;
}

/* Right side*/
.right-side {
   font-family: var(--right-font);
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 60vw;
   background-color: #cfcfcf;
   justify-content: center;
}

.right-long {
   font: var(--font-for-bold-text);
   width: 70%;
   padding: 0 0 0 3vw;
   margin: 0 0 2vw 0;
}

.right-short {
   font: var(--font-for-bold-text);
   width: 80%;
   padding: 0 0 0 3vw;
   margin: 0 0 3.5vh 0;
}

.form-title {
   font: var(--font-for-bold-text);
}

.form-block {
   background-color: var(--form-bg-color);
   width: 100%;
   padding: 2vh 0 2vh 3vw;
   box-shadow: 1px 5px 5px rgba(48, 48, 48, 0.263);
   display: flex;
   flex-direction: column;
   gap: 3vh;
   margin: 0 0 1.5rem 0;
}

.inputs-block {
   display: flex;
   flex-flow: row wrap;
   gap: 2vw;
   column-gap: 5vw;
   width: 100%;
}

.input {
   letter-spacing: 0.07rem;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 20vw;
   font-size: 0.7rem;
   text-transform: uppercase;
}

input {
   border-radius: 3px;
   border: 1px #959595 solid;
   background-color: var(--form-bg-color);
   opacity: 70%;
   height: 2rem;
}

.error {
   outline: none;
   border: none;
   border: 1px #ff4141 solid;
}

input:focus {
   outline: none;
   border: none;
   border: 1px rgb(73, 109, 255) solid;
   box-shadow: var(--dark-box-shadow);
   border-radius: 3px;
}

.form-btn {
   padding: 0 0 0 3vw;
}

.form-btn button {
   color: white;
   width: 10rem;
   height: 2.5rem;
   background-color: #465d33;
   border-radius: 7px;
   border: none;
   box-shadow: 1px 5px 5px rgba(48, 48, 48, 0.49);
   transition: all 0.2s ease;
}

.form-btn button:hover {
   background-color: #5c7844;
   box-shadow: var(--dark-box-shadow);
}

.login-block {
   margin: 1.2rem 0 0 0;
   display: flex;
   gap: 5px;
   width: 80%;
   padding: 0 0 0 3vw;
}

.login-block a {
   text-decoration: none;
   color: #465d33;
}

/*media queries*/
@media (max-width: 992px) {
   .logo-text {
      font-size: 2.5rem;
   }
   .logo-img {
      width: 5rem;
      height: 5rem;
   }

   .right-long {
      font-size: 1.3rem;
      width: 90%;
      padding: 0 3vw;
   }
   .right-short {
      font-size: 1.3rem;
   }
   .form-title {
      font-size: 1.3rem;
   }
}

@media (max-width: 768px) {
   .container {
      display: flex;
      flex-direction: column;
      height: auto;
      text-align: center;
   }
   .left-side {
      width: 100vw;
      height: 20vh;
      display: flex;
      background-size: 150%;
   }
   .logo {
      position: static;
      width: 100vw;
      gap: 10px;
      background-color: rgba(52, 51, 51, 0.6);
   }
   .right-side {
      width: auto;
      height: 100%;
   }
   .right-long {
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
      margin: 1.2rem 0 0 0;
   }
   .right-short {
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      margin: 1rem 0 1.2rem 0;
   }

   .form-block {
      align-items: center;
      justify-content: center;
   }

   .form-title {
      justify-self: center;
      margin: 0 auto;
      width: 100%;
      text-align: center;
   }

   .inputs-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .input {
      width: 90vw;
   }
   .login-block {
      width: 100%;
      padding: 10px 0 20px calc(50vw - 6.8rem);
   }
}
